ul {
  list-style: none;
  text-decoration: none;
}

button{
  cursor: pointer;
}

.new-color{
    background-color: aquamarine;
}

.menu{
  padding-bottom: 16px;
}

.heder{
    display: flex;
}

.title {
  font-size: 10px;
  text-align: center;
}

.list {
  display: flex;
}

.list-item{
    min-width: 20px;
    border: solid red;
    margin-left: 8px;
    font-size: 24px;
    text-align: center;
}

.txt{
  font-size: 24px;
}

.elem{
  width: 150px;
  height: 150px;
}

.elem-red{
  background-color: red;
}

.elem-green{
  background-color: green;
}
